@model Web_Cobranza_Prejudicial.Models.Entities.oSP_READ_BANNER_X_ID_DEUDA



@if (Model.ESTADO_DEUDA == "PENDIENTE")
{
    <div class="progress" style="height:30px">
        <div class="progress-bar bg-success btn text-left" style="width:100%; text-align:left; padding-left:10px;">
            Mandante: @Model.NOMBRE_MANDANTE  Folio:@Model.FOLIO  Estado Deuda: @Model.ESTADO_DEUDA
        </div>
    </div>

}
else
{
    <div class="progress" style="height:30px">
        <div class="progress-bar bg-danger btn text-left" style="width:100%; text-align:left; padding-left:10px;">
            Mandante: @Model.NOMBRE_MANDANTE  Folio:@Model.FOLIO  Estado Deuda: @Model.ESTADO_DEUDA
        </div>
    </div>

}





