
<hr />


<div class="card">
    <div class="card-body">
        <div class="btn-group">
@*             <button type="button" title="LLamar" class="btn btn-primary"><img src="~/img/btnllamar.svg" width="40px;" height="40px;" /> LLamar</button>
            &nbsp;&nbsp; *@
            <button type="button" title="Presione aqui para registrar Gestion." onclick="Funcion_CargarRegistrarGestion()" data-bs-toggle="modal" data-bs-target="#MODAL_REGISTRAR_GESTIONES" class="btn btn-success rounded"><img src="~/img/btngrabargestion.svg" width="40px;" height="40px;" /> Registrar Gestion</button>
            &nbsp;&nbsp;
            <button type="button" title="Crear Telefono" class="btn btn-info rounded"><img src="~/img/btnnuevotelefono.svg" width="40px;" height="40px;" /> Nuevo Fono</button>
            &nbsp;&nbsp;
            <button type="button" title="Crear Email" class="btn btn-info rounded"><img src="~/img/btngrabaremail.svg" width="40px;" height="40px;" /> Nuevo Email</button>
        </div>
    </div>
</div>

<hr />

