
<hr />


<div class="card">
    <div class="card-body">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">LLamar</button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-primary">Gestiones</button>
            &nbsp;&nbsp;

            <button type="button" class="btn btn-primary">Nuevo Fono</button>
            &nbsp;&nbsp;

            <button type="button" class="btn btn-primary">Nuevo Email</button>
        </div>
    </div>
</div>

<hr />